.product{
	padding-top:1rem;
	padding-bottom:1.5rem;
	height:100%;
	overflow:auto;
	header{
		width: 100%;
		height: .7rem;
		left: 0;
		top:0;
		background-color: #000;
		color:#eee;
		position: absolute;
		padding:0 .3rem;
	}
	li{
		padding-top:.3rem;
		padding-bottom:.2rem;
	}
	p{
		padding-left: 2em;
	}
	a{
		font-size: 16px;
		color:#337ab7;
	}
	li+li{
		border-top: 1px solid #eee;
	}
}