html,body,#app{
	width:100%;
	height:100%;
}
#app{
	position:relative;
	overflow:hidden;
	&>div{
		height: 100%;
		overflow: hidden;
	}
}
.router-view{
	height:100%;
	overflow:hidden;
	position:relative;
}
.iconfont{
	font-size:.32rem;
}
footer{
	width:100%;
	background:#000;
	color:#fff;
	z-index:10;
	position: absolute;
	left:0;
	bottom:0;
	text-align:center;
	box-shadow: 0 -2px 15px rgba(0,0,0,0.6);
	h6{
		margin-bottom: 0;
		margin-top: 5px;
		font-size: 14px;
		line-height: 1em;
	}
	.iconfont{
		font-size: 20px;
	}
	nav{
		padding:5px 0;
	}
	a{
		color:#fff;
	}
	.active{
		nav{
			background:#444;
		}
	}
}